@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Project Management System</h1>
    <img src="https://blobcontainersasha.blob.core.windows.net/project-management-container/project-management.jpg" alt="Управління проєктами" style="width: 100%; height: auto;">
</div>
